:root {

    --color-background: #fefae0;
    /* Soft white background */
    --color-text-primary: #283618;
    /* Primary text (dark green) */
    --color-text-secondary: #606c38;
    /* Subtle headings, secondary text */

    --color-button-primary: #bc6c25;
    /* CTA buttons (orange) */
    --color-button-secondary: #dda15e;
    /* Secondary buttons/highlights */

    --color-button-text: #fefae0;
    /* Light text on dark buttons */
    --color-border: #dda15e;
    /* Accent border or dividers */
    --color-link: #bc6c25;
    /* Active link, highlight */

    --color-primary: #4f46e5;
    --color-secondary: #9333ea;
    --color-accent: #f59e0b;
    --color-background: #F5F5F5;

    --color-header-background: rgba(51, 34, 0, 0.8);
    --color-hero-background: #733e0a;
    --color-text-white: #F5F5F5;
    --color-text-black: #000;
    --color-text-hover: #FBBF24;
    --color-yellow-300: oklch(90.5% 0.182 98.111);
    --color-yellow-border: oklch(90.5% 0.182 98.111);

    /* For Testing Color */
    --color-saddle-brown: #8B4513;
    /* 8B4513 */
    --color-white-smoke: #F5F5F5;
    --color-golden-yellow: #FFD700;
    --color-deep-maroon: #800000;



    /* For rainbow color (randow button)*/
    --color-1: #ff0000;
    --color-2: #ff9900;
    --color-3: #ffff00;
    --color-4: #00ff00;
    --color-5: #0000ff;

}

body {
    background-color: var(--color-background);
    font-family: 'Inter Variable', sans-serif;
}



@theme inline {
    --animate-shine: shine var(--duration) infinite linear;

    @keyframes shine {
        0% {
            background-position: 0% 0%;
        }

        50% {
            background-position: 100% 100%;
        }

        to {
            background-position: 0% 0%;
        }
    }
}

@theme inline {
    --animate-rainbow: rainbow var(--speed, 2s) infinite linear;

    @keyframes rainbow {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 200%;
        }
    }
}